<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-8">
                <input class="form-control form-control-lg" type="text" placeholder="Search location" aria-label=".form-control-lg example">
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary">Run Search</button>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'weather_app\images\dummy_ny.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ basis_informations.location }}</h5>
                <p class="card-text">Country: {{ basis_informations.country }}</p>
                <p class="card-text">Current Temperature: {{ basis_informations.temperature }} °F</p>
                <a href="#" class="btn btn-primary">See more details</a>
            </div>
        </div>
    </div>
</body>
</html>